.starwars-img{
    max-width: auto;
    height: 60px;
    cursor:pointer
}
.dropdown-container{
    width: 200px;
    background-color: black;
    margin-top: 10%;
}

h2{
    color: red;
    padding: 40px 27px;
}

.footer{
 
   background-color: #f8f9fa;
   margin-top:5%
}
.p-footer{
    margin-top: 10px;
}

input{
    width: 60%;
    margin-top: 2.25%;
    border: none;
    background-color: #f8f9fa;
}
input:focus{
    outline: none;
}

.dropdown-menu{
    margin-left:38%;
}